.dropdown:hover .img-earth {
    background-color: #15BDEF;
}

.dropdown-menu-1 {
    margin-left: -3px !important;
    min-width: 3.4rem !important;
    background-color: #15BDEF;
    border-radius: 0%;
}

.col-display {
    display: flex;
}

.box-flag {
    display: flex;
    flex-direction: row;
}

.nav-link {
    display: block;
}

.header-area .main-header-area .main-menu ul li {
    display: inline-block;
    position: relative;
    margin: 0 15px;
}

.logo {
    height: 115px;
    width: auto;
}

.logo1 {
    height: 200px;
    width: auto;
}

.margin-slider {
    margin-bottom: 170px;
}

.nd1 {
    color: #ffff;
    text-align: justify;
    margin-left: 11px;
}

.loading {
    width: 150px;
    margin-right: 10px;
}

.img1 {
    margin-top: 45px;
    /*border: 2px solid #dee2e6;*/
}

.img2 {
    margin-bottom: 45px;
    /*border: 2px solid #dee2e6;*/
}

.navigation a {
    text-transform: uppercase;
}

.hieuung {
    transition: width 2s;
    visibility: visible;
    animation-duration: 2s;
}


/* menu đa cấp */

.box-flag-1 {
    display: inline-block
}

#menu-2 ul {
    list-style-type: none;
    text-align: center;
}

#menu-2 li {
    color: #f1f1f1;
    display: inline-block;
    max-width: 100%;
    width: 100px;
    height: 40px;
    line-height: 40px;
    margin-left: -5px;
}

#menu-2 a {
    text-decoration: none;
    color: #fff;
    display: block;
}

#menu-2 a:hover {
    background: #ffffff;
    color: #333;
}


/*  */

.sub-menu-2 {
    display: none;
}

#menu-2 li {
    position: relative;
}

.sub-menu-2 {
    display: none;
    position: absolute;
}

#menu-2 li:hover .sub-menu-2 {
    display: block;
}

.sub-menu-2 li {
    margin-left: 0 !important;
}


/* menu đa cấp end */

@media (max-width: 576px) {
    .main1 {
        width: 100%;
    }
    .dropdown-menu-1 a img {
        padding-left: 10px;
    }
}

.form-advisory {
    color: #000;
    background: #fff;
    border-radius: 20px;
    padding: 15px 30px;
}

.form-advisory .form-item {
    margin-top: 10px;
}

.row {
    margin-left: -10px;
    margin-right: -10px;
}

.form-advisory .form-item {
    margin-top: 10px;
}

.form-advisory .button-submit {
    outline: none !important;
    width: 100%;
    font-size: 17px;
    border-radius: 20px;
}

.btn-primary {
    color: #fff;
    background: #315798;
    border-color: #315798;
    padding: 5px 20px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    display: inline-block;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 7px;
}

.btn-primary:hover {
    background: #21b5e1;
}

.form-advisory p {
    margin-bottom: 2px;
    font-weight: 500;
}

.form-advisory input {
    height: 30px;
}

.form-advisory input,
.form-advisory textarea {
    box-shadow: 0 0 0 !important;
    border-radius: 0;
    font-size: 13px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.is-invalid {
    font-size: 12px;
    color: red;
}

.form-advisory .form-item {
    margin-top: 10px;
}

.form-advisory .form-item {
    margin-top: 10px;
}

.form-advisory .form-name {
    margin-bottom: 2px;
    font-size: 13px;
    font-weight: 500;
}

.form-advisory input {
    height: 30px;
}

.is-invalid {
    font-size: 12px;
    color: red;
}

.form-advisory input,
.form-advisory textarea {
    box-shadow: 0 0 0 !important;
    border-radius: 0;
    font-size: 13px;
}

footer .showroom-item .name {
    text-transform: uppercase;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
}

footer .showroom-item .address {
    color: rgba(255, 255, 255, 0.7);
}


/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */

.btn-indigo-2 {
    background: #01579b;
}

.btn {
    transition: 0.5s;
}


/*.button-more {
    padding-top: 2px;
    padding-left: 10px;
}*/

.more-info {
    color: #ffffff;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    z-index: 1;
    margin-left: 110px;
}

@media (max-width: 1999px) {
    .cover-flag {
        display: inline-block;
    }
    .cover-flag-1 {
        display: none;
    }
    .dropdown-menu-1 a img {
        padding-left: 10px;
    }
}

@media (min-width: 1200px) {
    .dropdown-menu-1 a img {
        padding-left: 5px;
    }
    .cover-flag {
        display: none;
    }
    .cover-flag-1 {
        display: inline-block;
    }
    .login-li {
        display: none !important;
    }
    .flag-country {
        height: 42px;
    }
    /* .logo-left {
        margin-top: 100px;
    } */
    .loading {
        width: 150px;
        margin-right: 10px;
    }
    .img1 {
        margin-top: 45px;
    }
    .img2 {
        margin-bottom: 45px;
    }
    .img-group-sm {
        display: none;
    }
    .img-group {
        margin-bottom: -35px;
    }
    .logo-to-to {
        height: 186px;
    }
}

.img-thumbnail1 {
    border: 3px solid #dee2e6;
}

.loading:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.mxh img:hover {
    background-color: #15BDEF;
}

.text1-footer {
    color: #ffffff;
    text-align: justify;
    width: 283px;
}

.button-more {
    margin-top: 20px;
}

@media (max-width: 500px) {
    .inline-blok {
        display: inline-block;
    }
    .box-flag {
        padding-left: 50px;
    }
    .box-flag-1 {
        margin-top: -10px;
        margin-left: 100px
    }
    .dropdown-menu-1 a img {
        padding-left: 10px;
    }
}

@media (min-width: 501px) and (max-width: 576px) {
    .inline-blok {
        display: inline-block;
    }
    .box-flag-1 {
        margin-top: -10px;
        margin-left: 100px
    }
    .dropdown-menu-1 a img {
        padding-left: 10px;
    }
}

@media (max-width: 576px) {
    .inline-blok {
        display: inline-block;
    }
    .dropdown-menu-1 a img {
        padding-left: 10px;
    }
    .button-more a {
        font-size: 12px;
    }
    .img-group {
        display: none;
    }
    .loading {
        width: 20px;
        margin-right: 10px;
    }
    .img1 {
        margin-top: 45px;
    }
    .img2 {
        margin-bottom: 45px;
    }
    .tapthe {
        width: 100%;
        height: 100%;
    }
    .img-group-sm {
        margin-bottom: -35px;
        display: block !important;
        height: 0px;
    }
    .img-thumbnail1 {
        display: none;
    }
    .col-center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img-thumbnail1 {
        display: none;
    }
    .logo {
        width: auto;
        height: 100px;
    }
    .noidung {
        font-size: 15px;
    }
    .text1-footer {
        color: #ffffff;
        text-align: justify;
        font-size: 15px;
    }
    .name,
    .address {
        font-size: 15px;
    }
    .img-group {
        display: none;
    }
    .img-home {
        /*margin-right: 80px;*/
        padding-top: 242px;
        width: 100%;
    }
    .logo-left {
        padding-top: 320px;
        margin-top: 200px;
        display: flex;
        justify-content: center;
    }
    .slicknav_btn {
        background-color: transparent;
        cursor: pointer;
        margin-bottom: 15px;
        position: relative;
        z-index: 99;
        border: none;
        border-radius: 3px;
        top: 5px;
        padding: 5px;
        right: 0;
        margin-top: -5px;
        top: -62px;
        right: 17px;
    }
    .slider_area .single_slider {
        height: 820px;
    }
    .home-left {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .waves-effect {
        margin-left: 0px;
    }
}

@media (min-width: 577px) and (max-width: 767px) {
    .dropdown-menu-1 a img {
        padding-left: 10px;
    }
    .box-flag-1 {
        margin-top: -15px;
        margin-left: 30px;
    }
    .footer .copy-right_text .copy_right {
        font-size: 15px !important;
    }
    .name,
    .address {
        font-size: 16px;
    }
    .text1-footer {
        color: #ffffff;
        text-align: justify;
        font-size: 16px;
    }
    .button-more {
        padding-top: 4px;
        padding-left: 82px;
    }
    .button-more a {
        font-size: 15px;
    }
    .img-group {
        display: none;
    }
    .img-group-sm {
        display: block !important;
        height: 30px;
    }
    .logo-left {
        padding-top: 374px;
        margin-top: 216px;
        display: flex;
        justify-content: center;
    }
    .logo {
        width: auto;
        height: 100px;
    }
    .img-home {
        padding-top: 290px;
    }
    .slicknav_btn {
        background-color: transparent;
        cursor: pointer;
        margin-bottom: 15px;
        position: relative;
        z-index: 99;
        border: none;
        border-radius: 3px;
        top: 5px;
        padding: 5px;
        right: 50px;
        margin-top: -5px;
        top: -62px;
        right: 55px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .dropdown-menu-1 a img {
        padding-left: 10px;
    }
    .box-flag-1 {
        margin-top: -20px
    }
    .box-extention-1 {
        display: none;
    }
    .waves-effect {
        position: relative;
        cursor: pointer;
        overflow: hidden;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        z-index: 1;
        margin-left: 20px;
    }
    .button-more {
        padding-top: 4px;
        padding-left: 46px;
    }
    .button-more a {
        font-size: 12px;
    }
    .img-group {
        display: none;
    }
    .img-group-sm {
        display: block !important;
        height: 30px;
    }
    .logo-left {
        padding-top: 374px;
        margin-top: 195px;
        display: flex;
        justify-content: center;
    }
    .logo {
        width: auto;
        height: 100px;
    }
    .img-home {
        padding-top: 290px;
    }
    .croll-sm {
        margin-bottom: 697px;
    }
    .croll-text-sm {
        margin-bottom: 333px;
    }
    .nd1 {
        color: #ffff;
        text-align: justify;
        margin-left: 11px;
        font-size: 13px;
    }
    .slicknav_btn {
        background-color: transparent;
        cursor: pointer;
        margin-bottom: 15px;
        position: relative;
        z-index: 99;
        border: none;
        border-radius: 3px;
        top: 5px;
        padding: 5px;
        right: 0;
        margin-top: -5px;
        top: -62px;
        right: 5px;
    }
    .logo-righ {
        margin-left: -48px;
    }
    .footer .footer_top {
        padding-top: 40px;
        padding-bottom: 40px;
        background: #315797;
    }
}

.box-extention-2 {
    display: flex;
    flex-direction: row;
}

@media (min-width:992px) and (max-width: 1199px) {
    .dropdown-menu-1 a img {
        padding-left: 10px;
    }
    .box-flag-1 {
        margin-top: -22px
    }
    .mobile_menu {
        margin-top: 10px;
    }
    .box-extention-1 {
        display: none;
    }
    .logo-left {
        margin-top: 60px;
    }
    .mobile_menu {
        display: inline-block !important;
    }
    .slicknav_btn {
        background-color: transparent;
        cursor: pointer;
        margin-bottom: 15px;
        position: relative;
        z-index: 99;
        border: none;
        border-radius: 3px;
        top: 5px;
        padding: 5px;
        right: 0;
        margin-top: -5px;
        top: -62px;
        right: 5px;
    }
    .header-area .main-header-area .main-menu ul li {
        display: none;
    }
    .nav {
        display: none;
    }
    .img-group-sm {
        display: none;
    }
    .img1 {
        margin-top: 45px;
        width: 130px;
    }
    .img2 {
        margin-bottom: 45px;
        width: 130px;
    }
    .button-more {
        padding-top: 0px;
        margin-left: 0px;
    }
    .home-btn-backtotop {
        height: 30px;
        width: auto;
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        color: white;
        cursor: pointer;
        padding-bottom: 120px;
        border-radius: 4px;
    }
    .logo-to-to {
        height: 152px;
    }
    #button-backtohome {
        display: inline-block;
        background-color: #15BDEF;
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 18px;
        position: fixed;
        bottom: 114px;
        right: 30px;
        transition: background-color .3s, opacity .5s, visibility .5s;
        opacity: 0;
        visibility: hidden;
        z-index: 1000;
    }
    #button-backtohome::after {
        content: "\f077";
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        font-size: 2em;
        line-height: 50px;
        color: #fff;
    }
    #button-backtohome:hover {
        cursor: pointer;
        background-color: #333;
    }
    #button-backtohome:active {
        background-color: #555;
    }
    #button-backtohome.show {
        opacity: 1;
        visibility: visible;
    }
}

@media (min-width: 1200px) and (max-width: 1300px) {
    .header-area .main-header-area .main-menu ul li a {
        font-size: 12px;
    }
}

@media (min-width: 1301px) {
    .header-area .main-header-area .main-menu ul li a {
        font-size: 13.5px;
    }
}

@media(min-width: 1200px) and (max-width: 1204px) {}

@media (min-width: 1199px) {
    .nd1 {
        color: #ffff;
        text-align: justify;
        margin-left: 15px;
    }
    #button-backtohome {
        display: inline-block;
        background-color: #15BDEF;
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 18px;
        position: fixed;
        bottom: 114px;
        right: 30px;
        transition: background-color .3s, opacity .5s, visibility .5s;
        opacity: 0;
        visibility: hidden;
        z-index: 1000;
    }
    #button-backtohome::after {
        content: "\f077";
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        font-size: 2em;
        line-height: 50px;
        color: #fff;
    }
    #button-backtohome:hover {
        cursor: pointer;
        background-color: #333;
    }
    #button-backtohome:active {
        background-color: #555;
    }
    #button-backtohome.show {
        opacity: 1;
        visibility: visible;
    }
    .logo-edit {
        margin-top: 45px;
    }
}

.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    /*width: 280px;*/
}


/* The popup chat - hidden by default */

.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}


/* Add styles to the form container */

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}


/* Full-width textarea */

.form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}


/* When the textarea gets focus, do something */

.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}


/* Set a style for the submit/send button */

.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}


/* Add a red background color to the cancel button */

.form-container .cancel {
    background-color: red;
}


/* Add some hover effects to buttons */

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}